$accent: #ff6838;
$default: #31352b;
$text: #363853;
$silver: #ececec;
$light: #f9faff;
$gray: #c2c2c2;

$breakpoints: ('phone': 576px,
  'tablet': 768px,
  'tablet-2': 992px,
  'desktop': 1200px);

@mixin mq($width, $type: max) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);

    @if $type==min {
      $width: $width - 1px;
    }

    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

@mixin pseudo($display: block, $pos: absolute, $content: '') {
  content: $content;
  display: $display;
  position: $pos;
}

@mixin checkbox-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}

%rubik-300 {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

%rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%rubik-italic {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-style: italic;
}

%rubik-500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}