.prod-catalog {
  margin: 60px 0 120px;

  @include mq('tablet') {
    margin-bottom: 60px;
  }

  @include mq('phone') {
    margin: 40px 0;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    align-items: center;

    @include mq('tablet') {
      display: block;
      margin-bottom: 25px;
    }

    .popup__open {
      display: none;
      border: 2px solid transparent;
      outline: transparent;
      transition: border-color .3s;
      line-height: 0;

      &:focus {
        border-color: $accent;
      }

      @include mq('tablet') {
        display: flex;
        align-items: center;
        margin-right: 15px;
      }

      @include mq('phone') {
        margin-right: 8px;
      }
    }

    .popup__open-img {
      width: 48px;
      height: 48px;
      background-color: #faeded;
      border-radius: 3px;
      fill: $accent;
      transition: background-color .3s, fill .3s, box-shadow .3s;
      outline: transparent;
      border: 2px solid transparent;

      &:hover {
        background-color: $accent;
        fill: #fff;
      }

      &:active {
        background-color: #faeded;
        box-shadow: inset 0px -1px 4px 2px rgba(0, 0, 0, 0.15);
        fill: $accent;
      }

      & use {
        transform: translateX(7px);
      }
    }

    .title {
      margin-bottom: 0;

      @include mq('tablet') {
        text-align: left;
        margin-bottom: 17px;
      }
    }
  }

  .popup__close {
    display: none;
  }

  &__select {
    display: flex;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    margin-right: 3px;
  }

  &__select-style {
    cursor: pointer;
  }

  &__sort {
    margin-right: 15px;
    width: 150px;

    @include mq('phone') {
      margin-right: 10px;
      width: 140px;
    }
  }

  &__amount {
    width: 93px;

    @include mq('phone') {
      width: 85px;
    }
  }

  .jq-selectbox__select {
    padding: 15px 40px 15px 15px;
    border: 1px solid $gray;
    border-radius: 3px;
    height: max-content;
    background-color: transparent;
    background: linear-gradient(transparent);
    box-shadow: none;
    font: inherit;
    color: $default;
    text-shadow: none;
    transition: border-color .3s, color .3s, filter .3s;

    @include mq('phone') {
      padding: 15px 35px 15px 10px;
    }

    &:focus {
      border-color: $accent;
    }

    &:hover {
      filter: invert(51%) sepia(89%) saturate(2146%) hue-rotate(336deg) brightness(100%) contrast(102%);
    }
  }

  .jq-selectbox__trigger {
    border-left: none;
  }

  .jq-selectbox__trigger-arrow {
    position: absolute;
    top: 20px;
    right: 12px;
    width: 12px;
    height: 7px;
    border: none;
    background-image: url('../images/icons/arrow-down.svg');
    background-repeat: no-repeat;
  }

  .jq-selectbox li,
  .jq-select-multiple li {
    user-select: none;
    white-space: nowrap;
    height: 40px;
    background-color: #fff;
    width: 155px;
    padding: 10px;
    border-radius: 3px;
    transition: background-color .3s, color .3s;

    &:hover {
      background-color: $accent;
      color: #fff;
    }
  }

  .jq-selectbox li.selected {
    color: $text;

    &:hover {
      color: #fff;
    }
  }

  @include mq('tablet') {
    .popup {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 72px;
      left: 0;
      opacity: 0;
      visibility: hidden;
      z-index: 10;
      overflow: auto;
      background-color: rgba(255, 255, 255, 0.8);

      &:target {
        opacity: 1;
        visibility: visible;
      }

      @include mq('phone') {
        top: 0;
        padding-top: 98px;
        z-index: 11;
        background-color: #fff;
      }
    }

    .popup__close {
      position: absolute;
      left: 212px;
      top: 8px;
      width: 44px;
      height: 44px;
      background-color: #faeded;
      border-radius: 3px;
      text-align: center;
      line-height: 2.2;
      display: block;

      @include mq('phone') {
        top: 28px;
        left: 256px;
      }

      .popup__close-img {
        width: 18px;
        height: 18px;
      }
    }
  }

  &__inner {
    display: flex;

    @include mq('phone') {
      display: block;
    }

    .inner-filter {
      margin-right: 30px;

      @include mq('tablet') {
        // display: none;
      }

      &__block {
        border: 1px solid $silver;
        border-radius: 5px;
        margin-bottom: 28px;
        background-color: #fff;
        width: 270px;
      }

      .block-purposes {
        margin-top: 25px;

        .inner-filter__label {
          margin: 0 15px 12px;

          &:first-child {
            margin-top: 20px;
          }

          &:last-child {
            margin-bottom: 20px;
          }
        }
      }

      &__title {
        font-size: 24px;
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: $text;
        padding: 15px;
        border-bottom: 1px solid $silver;
      }

      &__form {
        display: grid;
      }

      &__label {
        cursor: pointer;
        margin: 0 15px 5px;

        &:first-child {
          margin-top: 20px;
        }

        &:last-child {
          margin-bottom: 20px;
        }
      }

      &__input {
        @include checkbox-hidden;

        &:checked+.inner-filter__item {
          color: $accent;
        }
      }

      &__item {
        font-size: 18px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: $default;
        transition: color .3s;
        border: 1px solid transparent;

        &:hover {
          color: $accent;
        }

        &:focus {
          border-color: $accent;
        }

        &:active {
          text-shadow: 2px 2px 5px rgba(54, 56, 83, 0.5);
        }
      }

      .block-purposes {

        .inner-filter__label {
          display: flex;
        }

        .inner-filter__checkbox {
          width: 24px;
          height: 24px;
          background-color: #faeded;
          border-radius: 3px;
          border: 1px solid $silver;
          margin-right: 12px;
        }

        .inner-filter__input {
          @include checkbox-hidden;

          &:checked+.inner-filter__checkbox {
            border-color: $default;
            background-image: url('../images/icons/checked.svg');
            background-repeat: no-repeat;
            background-position: center;
          }
        }

      }

      .block-price {
        &__inner {
          padding: 25px 15px;
        }

        &__values {
          display: flex;
          font-size: 16px;
          line-height: 1.2;
          letter-spacing: 0.03em;
          color: $gray;
          align-items: center;

          & label:not(:last-child) {
            margin-right: 20px;
          }
        }

        &__input-from,
        &__input-to {
          width: 70px;
          height: 40px;
          background-color: #faeded;
          border: 1px solid $silver;
          border-radius: 3px;
          outline: transparent;
          text-align: center;
          font-size: 16px;
          line-height: 1;
          letter-spacing: 0.03em;
          transition: border-color .3s;

          &:focus,
          &:hover {
            border-color: $accent;
          }
        }

        .irs--round .irs-line {
          top: 36px;
          height: 2px;
          background-color: $gray;
          border-radius: 0px;
        }

        .irs--round .irs-min,
        .irs--round .irs-max {
          display: none;
        }

        .irs--round .irs-from,
        .irs--round .irs-to,
        .irs--round .irs-single {
          display: none;
        }

        .irs--round .irs-bar {
          top: 36px;
          height: 2px;
          background-color: $accent;
        }

        .irs--round .irs-handle {
          top: 26px;
          width: 20px;
          height: 20px;
          background-color: $accent;
          border-radius: 50%;
          box-shadow: none;
          border: none;
        }
      }
    }


  }

  .inner-content {
    .category {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
      margin-bottom: 60px;

      @include mq ('tablet-2') {
        grid-template-columns: repeat(3, 1fr);
      }

      @include mq('phone') {
        grid-template-columns: repeat(2, 1fr);
        gap: 0 4px;
        margin-bottom: 18px;

        li:nth-last-child(-n+6) {
          display: none;
        }
      }
    }



    .category__item {
      height: 300px;


    }

    .category__img {
      height: inherit;
    }
  }
}

.sales {
  margin-bottom: 120px;

  @include mq('tablet') {
    margin-bottom: 60px;
  }

  @include mq('phone') {
    margin-bottom: 40px;
  }

  .title {
    text-align: left;
    margin-bottom: 58px;

    @include mq('phone') {
      text-align: center;
      margin-bottom: 40px;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @include mq('phone') {
      display: block;
      margin: 0 auto;
    }

    @media (max-height: 375px) {
      gap: 15px;
    }

    .slick-slide img {
      @include mq('phone') {
        min-height: 300px;
      }

    }

    .slick-list {
      margin-bottom: 25px;
    }

    .slick-track {
      text-align: center;
    }

    .slick-dots {
      display: flex;
      justify-content: center;

      & .slick-active {
        button {
          background-color: $accent;
        }
      }

      & li:not(:last-child) {
        margin-right: 15px;
      }

      button {
        font-size: 0;
        width: 15px;
        height: 15px;
        background-color: $gray;
        border-radius: 50%;
        transition: background-color .3s;
      }
    }
  }

  &__item {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: box-shadow .3s;

    &:hover {
      box-shadow: 0px 3px 15px rgba(255, 104, 56, 0.5);
    }

    @include mq('phone') {
      display: inline-grid;
      max-width: 350px;
      width: 100%;

      .slick-list {
        margin-bottom: 25px;
        padding: 2px;

        &:not(:last-child) {
          margin-right: 10px;
        }
      }

      .slick-slide {
        width: max-content;
      }
    }
  }

  &__text {
    display: block;
    padding: 15px 20px;
    font-size: 24px;
    line-height: 1.3;
    color: $default;
    text-align: left;

    @include mq('phone') {
      overflow: hidden;
    }

    @media (max-height: 375px) {
      font-size: 16px;
    }
  }
}