.product {
  margin: 60px 0 120px;

  @include mq('tablet') {
    margin: 30px 0 45px;
  }

  &__main {
    padding-bottom: 60px;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 30px;

    @include mq('desktop') {
      padding-bottom: 30px;
    }

    @include mq('phone') {
      padding-bottom: 28px;
    }
  }

  &__main .container {
    display: flex;

    @include mq('desktop') {
      display: block;
    }
  }

  &__images {
    max-width: 610px;
    margin-right: 30px;
    height: 550px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 1px #ECECEC;

    @include mq('desktop') {
      margin: 0 auto 32px;
    }

    @include mq('tablet') {
      max-width: 345px;
      max-height: 345px;
    }
  }

  .slick-arrow {
    font-size: 0;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 260px;
    background-color: rgba($color: #fff, $alpha: 0.8);
    border-radius: 6px;
    color: $text;
    transition: background-color .3s;

    &:hover {
      background-color: rgba($color: $accent, $alpha: 0.8);
      color: #fff;
    }
  }

  .slick-prev {
    background-image: url('../images/sprite.svg#arrow_burger-left');
    left: 60px;
    z-index: 1;
  }

  .slick-next {
    background-image: url('../images/sprite.svg#arrow_burger-right');
    right: 60px;
  }

  .slick-track {
    left: 18%;
    top: 0;

    @include mq('tablet') {
      left: 0;
    }
  }

  .slick-list {
    @include mq('tablet') {
      padding: 19px 0;
    }
  }

  &__image {
    transform: translateY(18%);

    @include mq('tablet') {
      transform: translateY(0);
    }
  }

  &__image-img {
    @include mq('tablet') {
      max-width: 300px;
      margin: 0 auto;
    }
  }

  .title {
    margin-bottom: 30px;
    text-align: left;

    @include mq('phone') {
      margin-bottom: 15px;
    }
  }

  .stars {
    margin-bottom: 25px;

    @include mq('phone') {
      margin: 0 auto 15px 5px;
    }
  }

  .jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group.jq-ry-rated-group {
    z-index: 10;
  }

  .jq-ry-container {
    padding: 0;
  }

  &__price {
    display: block;
    font-size: 25px;
    font-weight: 500;
    line-height: 1.4;
    color: $text;
    margin-bottom: 20px;
  }

  &__add {
    margin-bottom: 30px;

    @include mq('phone') {
      transform: translateX(4px);
      margin-bottom: 28px;
    }
  }

  &__add-num {
    border: none;

    @include mq('phone') {
      margin-bottom: 7px;
    }
  }

  .jq-number {
    padding: 0 44px;
  }

  .jq-number__field {
    width: 70px;
    border: 1px none;
    border-bottom-color: transparent;
    border-radius: 0;
    box-shadow: none;
  }

  .jq-number__field input {
    height: 44px;
    width: 100%;
    padding: 9px 17px;
    border: 1px solid transparent;
    outline: transparent;
    color: $text;
    text-align: center;
    background-color: $forms;
    @extend %rubik-400;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.03em;
    transition: border-color .3s;
    font-family: 'Rubik';

    &:hover {
      border-color: $accent;
    }
  }

  .jq-number__spin {
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    border: 1px solid $accent;
    border-radius: 0;
    background: $accent;
    box-shadow: none;
    text-shadow: none;
    cursor: pointer;
    transition: background-color .3s, border-color .3s;

    &::after {
      @include pseudo;
      top: 20px;
      left: 12px;
      border: none;
      border-radius: 50%;
    }

    &:hover {
      background-color: #fff;
      border-color: $accent;
    }
  }

  .jq-number__spin.minus {
    top: 0;
    left: 0;
    border-radius: 3px 0 0 3px;

    &:hover::after {
      background-color: $accent;
    }

    &::after {
      width: 20px;
      height: 2px;
      background-color: #fff;
    }
  }

  .jq-number__spin.plus {
    top: 0;
    right: 0;
    border-radius: 0 3px 3px 0;

    &:hover::after,
    &:hover::before {
      background-color: $accent;
    }

    &::before {
      @include pseudo;
      width: 2px;
      height: 20px;
      background-color: #fff;
      border-radius: 50%;
      top: 11px;
      left: 21px;
    }

    &::after {
      width: 20px;
      height: 2px;
      background-color: #fff;
    }
  }

  &__add-btn {
    margin-left: 20px;
    display: inline-block;
    font-size: 14px;
    stroke: #fff;

    @include mq('phone') {
      margin-left: 0;
    }

    &:hover {
      stroke: $accent;
    }

    &:focus {
      stroke: $accent;
    }

    .cart-add {
      width: 16px;
      height: 15px;
      margin-right: 15px;

    }
  }

  &__instruction-title {
    letter-spacing: 0.03em;
    font-size: 24px;
    display: block;
    padding-bottom: 15px;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 20px;

    @include mq('phone') {
      font-size: 18px;
      padding-bottom: 10px;
      margin-bottom: 15px;
    }
  }

  &__instruction-text {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #505050;

    @include mq('phone') {
      margin-bottom: 10px;
    }
  }

  &__instruction-link {
    text-decoration: underline;
    color: $text;

    @include mq('phone') {
      font-size: 16px;
    }
  }

  &__tabs {
    max-width: 690px;
    width: 100%;
    margin: 0 auto;
  }

  &__tabs-top {
    margin-bottom: 30px;
    color: $text;
    display: flex;

    @include mq('tablet') {
      overflow: scroll;
      margin: 0 15px 30px;
    }

    .link {
      font-size: 24px;
      display: flex;

      @include mq('phone') {
        font-size: 20px;
      }

      &:not(:last-child) {
        margin-right: 60px;

        @include mq('phone') {
          margin-right: 30px;
        }
      }
    }
  }

  &__tabs-items {
    display: none;

    @include mq('phone') {
      margin: 0 12px;
      font-size: 16px;
    }

    &.product__tabs-items--active {
      display: block;
    }

    p:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__tabs-item {
    &:not(:last-child) {
      margin-bottom: 10px;

      @include mq('phone') {
        margin-bottom: 15px;
      }
    }

    span {
      font-weight: 500;
    }
  }

  .tabs-title {
    text-align: left;
    font-size: 24px;
    margin-bottom: 30px;

    @include mq('tablet') {
      margin: 0 15px 30px;
    }

    @include mq('phone') {
      font-size: 20px;
      margin-left: 9px;
      letter-spacing: 0.03em;
      margin-bottom: 27px;
    }
  }

  .comments {
    margin-bottom: 60px;

    @include mq('tablet') {
      margin:0 15px 30px;
    }

    @include mq('phone') {
      margin-left: 7px;
      margin-bottom: 45px;
    }
  }

  .comment {

    &:not(:last-child) {
      padding-bottom: 20px;
      border-bottom: 1px solid #e4e4e4;

      @include mq('phone') {
        padding-bottom: 15px;
      }
    }

    &:not(:first-child) {
      padding-top: 25px;

      @include mq('phone') {
        padding-top: 15px;
      }
    }

  }

  .comment-top {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    @include mq('phone') {
      display: block;
      margin-bottom: 15px;
    }
  }

  .comment-user {
    display: flex;
    margin-bottom: 15px;
  }

  .comment-photo {
    margin-right: 25px;
  }

  .comment-info {
    color: $comment;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;

    span {
      font-weight: 500;
      display: block;
      font-size: 20px;
      line-height: 2;
    }
  }

  .comment-stars {
    margin-left: auto;
    margin-bottom: 0;

    @include mq('phone') {
      margin-left: 0;
    }
  }

  .comment-form {

    @include mq('tablet') {
      margin: 0 15px 0 8px;
    }

    @include mq('phone') {
      margin-left: 8px;

      .button {
        padding: 12px 41px;
      }
    }

    &__label {
      display: flex;
      align-items: baseline;
      margin-bottom: 20px;

      @include mq('phone') {
        font-size: 20px;
        margin-bottom: 17px;
      }
    }

    &__name,
    &__text,
    &__email {
      margin-top: 15px;
      padding: 16px 18px;
      font-size: 16px;
      border: 1px solid $gray;
      border-radius: 5px;
      outline: transparent;
      transition: box-shadow .3s;

      &::placeholder {
        color: #c1c1c1;
      }

      &:focus {
        box-shadow: 0px 0px 0px 2px #FF6838;
      }
    }

    &__name,
    &__email {
      max-width: 260px;

      @include mq('phone') {
        width: 100%;
        max-width: 100%;
      }
    }
  }

  .form-stars {
    margin-left: 15px;
    margin-bottom: 0;
  }

  textarea {
    resize: none;
  }

  .comment-form__text {
    max-width: 400px;
    width: 100%;
    height: 165px;
    overflow: hidden;
  }

  .comment-form__inputs {
    display: flex;
    margin-bottom: 30px;

    @include mq('phone') {
      display: block;
    }
  }

  .comment-form__label-input {
    display: grid;
    width: 100%;
    color: #505050;
    line-height: 1.3;

    &:first-child {
      margin-right: 30px;
    }

    &:last-child {
      margin-top: 15px;
    }

    @include mq('phone') {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }

  .comment-form__label-check {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    margin-bottom: 30px;

    @include mq('phone') {
      margin-bottom: 27px;
    }
  }

  .comment-form__input-check {

    @include checkbox-hidden;

    &:checked+.comment-form__item-check {
      color: $accent;
    }
  }

  .comment-form__checkbox {
    margin-right: 10px;
    width: 30px;
    height: 24px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #c1c1c1;

    @include mq('phone') {
      width: 65px;
    }
  }

  .comment-form__item-check {
    font-size: 18px;
    line-height: 1.3;
    color: #505050;
    border: 1px solid transparent;
  }

}

.offer {
  margin-bottom: 120px;

  @include mq('phone') {
    margin-bottom: 65px;
  }

  @media (max-height: 375px) {
    margin-bottom: 65px;
  }

  .title {
    text-align: left;

    @include mq('phone') {
      font-size: 20px;
      margin-bottom: 27px;
    }
  }

  .category {
    grid-template-columns: repeat(1, 1fr);
    position: relative;

    &__price {
      margin-bottom: 8px;
    }

    &__btn {
      @include mq('phone') {
        padding: 7px 16px;
      }
    }
  }

  .slick-slide img {
    display: inline-block;
  }

  .slick-initialized .slick-slide {
    display: block;
    margin: 0 15px;
    padding: 2px;

    @include mq('tablet-2') {
      margin: 0 5px;
    }

    @include mq('phone') {
      margin: 0 1px;
    }
  }

  .slick-arrow {
    position: absolute;
    right: 7px;
    top: -80px;
    font-size: 0;
    width: 34px;
    height: 20px;
    background-repeat: no-repeat;
    transition: filter .3s;

    &::before {
      @include pseudo;
      width: 34px;
      height: 34px;
      border: 3px solid $gray;
      border-radius: 50%;
      top: -7px;
    }

    &::after {
      @include pseudo;
      width: 36px;
      height: 36px;
      border: 2px solid transparent;
      border-radius: 50%;
      transform: translateY(-50%);
      left: -9px;
      transition: border-color .3s;
    }

    &:focus::after {
      border-color: $accent;
    }

    &:hover {
      filter: invert(3%) sepia(2%) saturate(5873%) hue-rotate(320deg) brightness(106%) contrast(97%);
    }
  }

  .slick-prev {
    background-image: url('../images/sprite.svg#prev-arrow');
    right: 60px;

    &::before {
      right: 6px;
    }

    &::after {
      width: 37px;
      height: 37px;
      left: -7px;
    }
  }

  .slick-next {
    background-image: url('../images/sprite.svg#next-arrow');

    &::after {
      right: 6px;
    }

    &::before {
      right: 8px;
    }
  }

  .slick-dots {

    display: flex !important;
    justify-content: center;
    transform: translateY(35px);
    max-height: 15px;

    li {
      height: 15px;
      button {
        background-color: #C2C2C2;
        width: 15px;
        height: 15px;
        border: 2px solid transparent;
        border-radius: 50%;
        color: transparent;
        font-size: 5px;
        transition: background-color .3s, border-color .3s;
        transform: translateY(-25px);

        &:focus {
          border-color: $accent;
        }
      }
    }

    li:not(:last-child) {
      margin-right: 15px;
    }

    .slick-active button {
      background-color: $accent;
    }
  }
}