.product {
  margin: 60px 0 120px;

  @include mq('tablet') {
    margin: 30px 0 45px;
  }

  &__main {
    padding-bottom: 60px;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 30px;

    @include mq('tablet') {
      padding-bottom: 30px;
    }
  }

  &__main .container {
    display: flex;

    @include mq('tablet-2') {
      display: block;
    }
  }

  &__images {
    max-width: 610px;
    width: 100%;
    margin-right: 30px;
    max-height: 550px;
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid $silver;

    @include mq('tablet-2') {
      margin: 0 auto 30px;
    }

    @include mq('tablet') {
      // height: 500px;
    }

    @include mq('phone') {
      // height: 435px;
    }
  }

  .slick-arrow {
    font-size: 0;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 245px;
    background-color: rgba($color: #fff, $alpha: 0.8);
    border-radius: 6px;
    color: $text;
    transition: background-color .3s;

    &:hover {
      background-color: rgba($color: $accent, $alpha: 0.8);
      color: #fff;
    }
  }

  .slick-prev {
    background-image: url('../images/sprite.svg#arrow_burger-left');
    left: 60px;
    z-index: 1;
  }

  .slick-next {
    background-image: url('../images/sprite.svg#arrow_burger-right');
    right: 60px;
  }

  .slick-track {
    // left: 18%;
    // top: 50px;
    // transform: translate3d(0, -15px, 0px);

    @include mq('tablet') {
      // left: 0;
    }

    @include mq('phone') {
      // left: 12%;
    }
  }

  // .slick-list {
  //   padding-bottom: 50px;
  // }

  .slick-initialized .slick-slide {
    display: flex;
  }

  .slick-slide {
    
    justify-content: center;
    
  }

  // .product__image-img {

  //   border-radius: 5px;
  //   border: 1px solid $silver;
  // }

  .slick-list {
    padding: 75px 0 !important;
    height: 100%;

    @include mq('phone') {
      padding: 23px 0 !important;
    }
  }

  &__image {
    // transform: translateY(18%);
    display: contents !important;
  }



  .title {
    margin-bottom: 30px;
    text-align: left;

    @include mq('tablet') {
      font-size: 24px;
      margin-bottom: 15px;
    }
  }

  .stars {
    margin-bottom: 25px;

    @include mq('tablet') {
      margin-bottom: 15px;
    }
  }

  .jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group.jq-ry-rated-group {
    z-index: 10;
  }

  .jq-ry-container {
    padding: 0;
  }

  &__price {
    display: block;
    font-size: 25px;
    font-weight: 500;
    line-height: 1.4;
    color: $text;
    margin-bottom: 20px;
  }

  &__add {
    margin-bottom: 30px;
  }

  &__add-num {
    border: none;
  }

  .jq-number {
    padding: 0 44px;

    @include mq('desktop') {
      margin-bottom: 15px;
    }
  }

  .jq-number__field {
    width: 70px;
    border: 1px none;
    border-bottom-color: transparent;
    border-radius: 0;
    box-shadow: none;
  }

  .jq-number__field input {
    height: 44px;
    width: 100%;
    padding: 9px 17px;
    border: 1px solid transparent;
    outline: transparent;
    color: $text;
    text-align: center;
    background-color: $forms;
    @extend %rubik-400;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.03em;
    transition: border-color .3s;
    font-family: 'Rubik';

    &:hover {
      border-color: $accent;
    }
  }

  .jq-number__spin {
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    border: 1px solid $accent;
    border-radius: 0;
    background: $accent;
    box-shadow: none;
    text-shadow: none;
    cursor: pointer;
    transition: background-color .3s, border-color .3s;

    &::after {
      @include pseudo;
      top: 20px;
      left: 12px;
      border: none;
      border-radius: 50%;
    }

    &:hover {
      background-color: #fff;
      border-color: $accent;
    }
  }

  .jq-number__spin.minus {
    top: 0;
    left: 0;
    border-radius: 3px 0 0 3px;

    &:hover::after {
      background-color: $accent;
    }

    &::after {
      width: 20px;
      height: 2px;
      background-color: #fff;
    }
  }

  .jq-number__spin.plus {
    top: 0;
    right: 0;
    border-radius: 0 3px 3px 0;

    &:hover::after,
    &:hover::before {
      background-color: $accent;
    }

    &::before {
      @include pseudo;
      width: 2px;
      height: 20px;
      background-color: #fff;
      border-radius: 50%;
      top: 11px;
      left: 21px;
    }

    &::after {
      width: 20px;
      height: 2px;
      background-color: #fff;
    }
  }

  &__add-btn {
    margin-left: 20px;
    display: inline-block;
    font-size: 14px;
    stroke: #fff;

    @include mq('desktop') {
      margin-left: 0;
      display: block;
    }

    &:hover {
      stroke: $accent;
    }

    &:focus {
      stroke: $accent;
    }

    .cart-add {
      width: 16px;
      height: 15px;
      margin-right: 15px;

    }
  }

  &__instruction-title {
    letter-spacing: 0.03em;
    font-size: 24px;
    display: block;
    padding-bottom: 15px;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 20px;

    @include mq('tablet') {
      font-size: 18px;
    }
  }

  &__instruction-text {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #505050;

    @include mq('tablet') {
      margin-bottom: 15px;
    }
  }

  &__instruction-link {
    text-decoration: underline;
    color: $text;

    @include mq('tablet') {
      font-size: 16px;
    }
  }


  &__tabs {
    max-width: 690px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__tabs-top {
    margin-bottom: 30px;
    color: $text;
    display: flex;
    overflow: overlay;

    .link {
      font-size: 24px;
      display: flex;

      @include mq('tablet') {
        font-size: 20px;
      }

      &:not(:last-child) {
        margin-right: 60px;
      }
    }
  }

  &__tabs-items {
    display: none;

    &.product__tabs-items--active {
      display: block;
    }

    p {
      @include mq('tablet') {
        font-size: 16px;
      }
    }

    p:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__tabs-item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }

    span {
      font-weight: 500;
    }
  }

  .tabs-title {
    text-align: left;
    font-size: 24px;
    margin-bottom: 30px;

    @include mq('tablet') {
      font-size: 20px;
    }
  }

  .comments {
    margin-bottom: 60px;
  }

  .comment {

    &:not(:last-child) {
      padding-bottom: 20px;
      border-bottom: 1px solid #e4e4e4;
    }

    &:not(:first-child) {
      padding-top: 25px;
    }

  }

  .comment-top {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .comment-photo {
    margin-right: 25px;
  }

  .comment-info {
    color: $comment;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;

    span {
      font-weight: 500;
      display: block;
      font-size: 20px;
      line-height: 2;
    }
  }

  .comment-stars {
    margin-left: auto;
    margin-bottom: 0;
  }

  .comment-form {

    &__label {
      display: flex;
      align-items: baseline;
      margin-bottom: 20px;
    }

    &__name,
    &__text,
    &__email {
      margin-top: 15px;
      padding: 16px 18px;
      font-size: 16px;
      border: 1px solid $gray;
      border-radius: 5px;
      outline: transparent;
      transition: box-shadow .3s;

      &::placeholder {
        color: #c1c1c1;
      }

      &:focus {
        box-shadow: 0px 0px 0px 2px #FF6838;
      }
    }



    &__name,
    &__email {
      max-width: 260px;
    }
  }

  .comment-text {
    @include mq('tablet') {
      font-size: 16px;
    }
  }

  .form-stars {
    margin-left: 15px;
    margin-bottom: 0;
  }

  textarea {
    resize: none;
  }

  .comment-form__text {
    max-width: 400px;
    width: 100%;
    height: 165px;
    overflow: hidden;
  }

  .comment-form__inputs {
    display: flex;
    margin-bottom: 30px;
  }

  .comment-form__label-input {
    display: grid;
    width: 100%;
    color: #505050;
    line-height: 1.3;

    &:first-child {
      margin-right: 30px;
    }

    &:last-child {
      margin-top: 15px;
    }
  }

  .comment-form__label-check {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    margin-bottom: 30px;
  }

  .comment-form__input-check {

    @include checkbox-hidden;

    &:checked+.comment-form__item-check {
      color: $accent;
    }
  }

  .comment-form__checkbox {
    margin-right: 10px;
    width: 30px;
    height: 24px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #c1c1c1;
  }

  .comment-form__item-check {
    font-size: 18px;
    line-height: 1.3;
    color: #505050;
    border: 1px solid transparent;
  }

}


.fancybox__container {
  @include mq('tablet') {
    display: none;
  }
}

.fancybox__backdrop {
  opacity: 0.15;
}

.fancybox__toolbar {
  background: transparent;
  max-width: 1728px;
  margin: 0 auto;
}

.fancybox__toolbar__items--left,
.fancybox__button--zoom,
.fancybox__button--slideshow,
.fancybox__button--fullscreen,
.fancybox__button--thumbs {
  display: none;
}

.fancybox-button {
  background-color: rgba(0, 0, 0, 0);
}

.fancybox__button--close {
  color: #000;
  opacity: .15;
  padding: 0;
  margin-top: 92px;
  margin-right: 134px;

  svg {
    display: block;
    overflow: visible;
    position: relative;
    width: 32px;
    height: 32px;
  }
}

.fancybox-navigation .fancybox-button {
  background-clip: content-box;
  height: 44px;
  opacity: 1;
  position: absolute;
  top: 50%;
  width: 44px;
  visibility: visible;
  border-radius: 6px;
}

.fancybox-toolbar {
  visibility: visible;
  opacity: 1;
}

.fancybox-slide--image {
  overflow: hidden;
  padding: 0;
}

.fancybox__carousel {
  max-width: 1728px;
  margin: 54px 96px;
  background-color: #fff;
  border-radius: 15px;
}

.fancybox__thumbs {
  position: absolute;
  bottom: 110px;
  z-index: 10;
  left: 47%;
}

.fancybox__thumbs .carousel__slide {
  width: 15px;
  height: 15px;
  padding: 8px 7px;
}

.fancybox__viewport {
  overflow: hidden;
}

.fancybox__thumb {
  width: 15px;
  padding-top: 0;
  height: 15px;
  border-radius: 50%;
  border-width: 0;
  background-color: $gray;
  background-image: none !important;
  border-color: transparent;
}

.fancybox__thumbs .carousel__slide .fancybox__thumb::after {
  border: none;
  background-color: $accent;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.carousel__button {
  padding: 0;
  right: 0;
  right: env(safe-area-inset-right);
  color: black;
  border-radius: 6px;
  width: 60px;
  height: 60px;

  &:hover {
    color: #fff;
    background-color: $accent;
    opacity: 1;
  }

  &:focus {
    border: 1px solid $accent;
  }
}

.fancybox__container {
  --carousel-button-svg-stroke-width: 1.5;
}

.offer {
  margin-bottom: 120px;

  @include mq('tablet') {
    margin-bottom: 40px;
  }

  .title {
    text-align: left;

    @include mq('tablet') {
      font-size: 20px;
    }
  }

  .category {
    grid-template-columns: repeat(1, 1fr);
    position: relative;
  }

  .slick-slide img {
    display: inline-block;
  }

  .slick-initialized .slick-slide {
    display: block;
    margin: 0 15px;
    padding: 2px;

    @include mq('desktop') {
      margin: 0 10px;
    }

    @include mq('tablet') {
      margin: 0 2px;
    }
  }

  .slick-arrow {
    position: absolute;
    right: 0;
    top: -80px;
    font-size: 0;
    width: 34px;
    height: 20px;
    background-repeat: no-repeat;

    &::after {
      @include pseudo;
      width: 34px;
      height: 34px;
      border: 3px solid $gray;
      border-radius: 50%;
      top: -7px;
    }


  }

  .slick-prev {
    background-image: url('../images/sprite.svg#prev-arrow');
    right: 55px;

    &::after {
      right: 6px;
    }
  }

  .slick-next {
    background-image: url('../images/sprite.svg#next-arrow');

    &::after {
      right: 8px;
    }
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    height: 15px;

    & .slick-active {
      button {
        background-color: $accent;
      }
    }

    & li:not(:last-child) {
      margin-right: 15px;
    }

    button {
      font-size: 0;
      width: 15px;
      height: 15px;
      background-color: $gray;
      border-radius: 50%;
      transition: background-color .3s;
    }
  }
}