<section class="app">
  <div class="container">

    <div class="app__inner">
      <h2 class="title">Скачайте мобильное приложение</h2>
      <p class="app__text">
        Рестораны, которые вы любите - в ваших руках. Устанавливайте приложение и заказывайте еду в любом удобном
        месте.
      </p>
      <ul class="app__list">
        <li>
          <a class="app__link" href="#">
            <span class="sr-only">Наше приложение в AppStore</span>
          </a>
        </li>
        <li>
          <a class="app__link" href="#">
            <span class="sr-only">Наше приложение в GooglePlay</span>
          </a>
        </li>
      </ul>
    </div>

    <img class="app__background" src="images/app-bg.jpg" alt="Картинка с приложением">
    </img>
  </div>
</section>