<section class="delivery">
  <div class="container">
    <div class="delivery__background" style="background-image: url('../images/delivery.png');">

      <div class="delivery__inner">

        <h2 class="title">
          <span>Оставайтесь дома,</span>
          а мы позаботимся о еде</h2>

        <p class="delivery__text">
          У нас есть вкусная еда и мы готовы доставить её к вам домой! Воспользуйтесь нашей доставкой прямо сейчас и
          получите скидку!
        </p>

        <ul class="delivery__list">
          <li class="delivery__item delivery__item--time">Быстрая доставка за 15 минут</li>
          <li class="delivery__item delivery__item--courier">Вежливые курьеры</li>
          <li class="delivery__item delivery__item--shop">Более 500 заведений</li>
        </ul>

        <button class="button delivery__button" type="button">Подробнее</button>

      </div>

    </div>
  </div>
</section>