<header class="header">
  <div class="container">
    <nav class="menu">

      <a class="logo" href="index.html">
        <img class="logo-img" src="images/SimpleFood.svg" width="200" alt="Логотип сайта Simple-Food">
      </a>

      <ul class="menu__items">

        <li class="menu__item">
          <a class="menu__link @if(context.page==='home') {selected}" href="index.html">Главная</a>
        </li>
        <li class="menu__item">
          <a class="menu__link @if(context.page==='catalog') {selected}" href="catalog.html">Блюда</a>
        </li>
        <li class="menu__item">
          <a class="menu__link @if(context.page==='contacts') {selected}" href="#">Контакты</a>
        </li>

        <li class="menu__item burger__contacts">
          <address class="footer__contacts ">
            <ul class="footer__social-cont">
              <li>
                <a class="footer__map" href="#">ул. Т.Г.Шевченко, 1</a>
              </li>
              <li>
                <a class="footer__number" href="tel:380501112233">380501112233</a>
              </li>
              <li>
                <a class="footer__email" href="mailto:support@sfood.com">support@sfood.com</a>
              </li>
            </ul>

            <ul class="social">
              <li class="social__items">
                <a class="social__link social__link-facebook" href="#">
                  <svg class="image social__facebook-img">
                    <use xlink:href="images/sprite.svg#facebook" width="10"></use>
                  </svg>
                  <span class="sr-only">Перейти на наш фейсбук</span>
                </a>
              </li>
              <li class="social__items">
                <a class="social__link social__link-twitter" href="#">
                  <span class="sr-only">Перейти на наш твиттер</span>
                  <svg class="image social__twitter-img">
                    <use xlink:href="images/sprite.svg#twitter" width="21"></use>
                  </svg>
                </a>
              </li>
              <li class="social__items">
                <a class="social__link social__link-instagram" href="#">
                  <span class="sr-only">Перейти на наш инстаграм</span>
                  <svg class="image social__instagram-img">
                    <use xlink:href="images/sprite.svg#instagram" width="20"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </address>
        </li>

      </ul>

      <ul class="menu__icons">

        <li class="menu__icon">
          <button class="search__btn">
            <span class="sr-only">Поиск по сайту</span>
            <svg class="search__btn-img">
              <use xlink:href="images/sprite.svg#Searchbtn"></use>
            </svg>
          </button>
        </li>
        <li class="menu__icon">
          <a class="cart__btn" href="#">
            <span class="sr-only">Перейти в корзину покупок</span>
            <svg class="cart__btn-img">
              <use xlink:href="images/sprite.svg#Carticon"></use>
            </svg>
          </a>
        </li>

        <button class="header__burger" type="menu">
          <span class="line"></span>
          <span class="sr-only">Натисніть, щоб дістатися меню</span>
        </button>

      </ul>

    </nav>
  </div>
</header>