<section class="popular">
  <div class="container">

    <h2 class="title">Популярные категории</h2>

    <div class="popular__inner">

      <ul class="filter">
        <li class="filter__list">
          <button class="filter__btn selected" type="button" data-filter=".category-a">
            <svg class="filter__btn-img">
              <use xlink:href="images/sprite.svg#burger"></use>
            </svg>
            Бургеры
          </button>
        </li>
        <li class="filter__list">
          <button class="filter__btn" type="button" data-filter=".category-b">
            <svg class="filter__btn-img">
              <use xlink:href="images/sprite.svg#pizza"></use>
            </svg>
            Пицца
          </button>
        </li>
        <li class="filter__list">
          <button class="filter__btn" type=" button" data-filter=".category-c">
            <svg class="filter__btn-img">
              <use xlink:href="images/sprite.svg#sandwich"></use>
            </svg>
            Сендвичи
          </button>
        </li>
        <li class="filter__list">
          <button class="filter__btn" type=" button" data-filter=".category-d">
            <svg class="filter__btn-img">
              <use xlink:href="images/sprite.svg#asia"></use>
            </svg>
            Азиатская кухня
          </button>
        </li>
        <li class="filter__list">
          <button class="filter__btn" type=" button" data-filter=".category-e">
            <svg class="filter__btn-img">
              <use xlink:href="images/sprite.svg#sets"></use>
            </svg>
            Cеты
          </button>
        </li>
      </ul>

      <ul class="category">
        <li>
          <article class="category__item mix category-a">
            <a class="category__link" href="#">
              <img class="category__img" src="images/burgers/1.jpg" alt="Чизбургер с листьями салата" width="140"
                height="140">
              <h3 class="category__text">Чизбургер с листьями салата
              </h3>
            </a>
            <div>
              <span class="category__price">160 грн.</span>
              <button class="category__btn" type="button">В корзину</button>
            </div>
          </article>
        </li>
        <li>
          <article class="category__item mix category-a">
            <a class="category__link" href="#">
              <img class="category__img" src="images/burgers/2.jpg" alt="Бифбургер" width="140" height="140">
              <h3 class="category__text">Бифбургер</h3>
            </a>
            <div>
              <span class="category__price">190 грн.</span>
              <button class="category__btn" type="button">В корзину</button>
            </div>
          </article>
        </li>
        <li>
          <article class="category__item mix category-a">
            <a class="category__link" href="#">
              <img class="category__img" src="images/burgers/3.jpg" alt="Королевский чизбургер" width="140"
                height="140">
              <h3 class="category__text">Королевский чизбургер</h3>
            </a>
            <div>
              <span class="category__price">260 грн.</span>
              <button class="category__btn" type="button">В корзину</button>
            </div>
          </article>
        </li>
        <li>
          <article class="category__item mix category-a">
            <a class="category__link" href="#">
              <img class="category__img" src="images/burgers/4.jpg" alt="Черный гамбургер" width="140" height="140">
              <h3 class="category__text">Черный гамбургер</h3>
            </a>
            <div>
              <span class="category__price">199 грн.</span>
              <button class="category__btn" type="button">В корзину</button>
            </div>
          </article>
        </li>
        <li>
          <article class="category__item mix category-a">
            <a class="category__link" href="#">
              <img class="category__img" src="images/burgers/5.jpg" alt="Чикен бургер" width="140" height="140">
              <h3 class="category__text">Чикен бургер</h3>
            </a>
            <div>
              <span class="category__price">180 грн.</span>
              <button class="category__btn" type="button">В корзину</button>
            </div>
          </article>
        </li>
        <li>
          <article class="category__item mix category-a">
            <a class="category__link" href="#">
              <img class="category__img" src="images/burgers/1.jpg" alt="Чизбургер с листьями салата" width="140"
                height="140">
              <h3 class="category__text">Чизбургер с листьями салата
              </h3>
            </a>
            <div>
              <span class="category__price">160 грн.</span>
              <button class="category__btn" type="button">В корзину</button>
            </div>
          </article>
        </li>
        <li>
          <article class="category__item mix category-a">
            <a class="category__link" href="#">
              <img class="category__img" src="images/burgers/2.jpg" alt="Бифбургер" width="140" height="140">
              <h3 class="category__text">Бифбургер</h3>
            </a>
            <div>
              <span class="category__price">190 грн.</span>
              <button class="category__btn" type="button">В корзину</button>
            </div>
          </article>
        </li>
        <li>
          <article class="category__item mix category-a">
            <a class="category__link" href="#">
              <img class="category__img" src="images/burgers/3.jpg" alt="Королевский чизбургер" width="140"
                height="140">
              <h3 class="category__text">Королевский чизбургер</h3>
            </a>
            <div>
              <span class="category__price">260 грн.</span>
              <button class="category__btn" type="button">В корзину</button>
            </div>
          </article>
        </li>
        <li>
          <article class="category__item mix category-a">
            <a class="category__link" href="#">
              <img class="category__img" src="images/burgers/4.jpg" alt="Черный гамбургер" width="140" height="140">
              <h3 class="category__text">Черный гамбургер</h3>
            </a>
            <div>
              <span class="category__price">199 грн.</span>
              <button class="category__btn" type="button">В корзину</button>
            </div>
          </article>
        </li>
        <li>
          <article class="category__item mix category-a">
            <a class="category__link" href="#">
              <img class="category__img" src="images/burgers/5.jpg" alt="Чикен бургер" width="140" height="140">
              <h3 class="category__text">Чикен бургер</h3>
            </a>
            <div>
              <span class="category__price">180 грн.</span>
              <button class="category__btn" type="button">В корзину</button>
            </div>
          </article>
        </li>
      </ul>
    </div>

    <button class="popular__more-btn">Показать еще</button>

  </div>
</section>