<section class="review">
  <div class="container">

    <h2 class="title">Отзывы клиентов</h2>

    <div class="review-slider">

      <div class="review-slider__inner">
        <div class="review-slider__items">
          <img class="review-slider__photo" src="images/review_photo.png" alt="Фото комментатора" width="300"
            height="300">

          <div class="review-slider__quote">
            <blockquote class="review-slider__blockquote">
              SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
              приложение. Их доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на
              доставку - однозначно рекомендую!
            </blockquote>
            <figcaption class="review-slider__figcaption">
              Дарья
              <cite class="review-slider__cite">Ценитель вкусной еды</cite>
            </figcaption>
          </div>
        </div>
      </div>

      <div class="review-slider__inner">
        <div class="review-slider__items">
          <img class="review-slider__photo" src="images/review_photo.png" alt="Фото комментатора" width="300"
            height="300">

          <div class="review-slider__quote">
            <blockquote class="review-slider__blockquote">
              SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
              приложение. Их доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на
              доставку - однозначно рекомендую!
            </blockquote>
            <figcaption class="review-slider__figcaption">
              Вероника
              <cite class="review-slider__cite">Ценитель вкусной еды</cite>
            </figcaption>
          </div>
        </div>
      </div>

      <div class="review-slider__inner">
        <div class="review-slider__items">
          <img class="review-slider__photo" src="images/review_photo.png" alt="Фото комментатора" width="300"
            height="300">

          <div class="review-slider__quote">
            <blockquote class="review-slider__blockquote">
              SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
              приложение. Их доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на
              доставку - однозначно рекомендую!
            </blockquote>
            <figcaption class="review-slider__figcaption">
              Ленусик
              <cite class="review-slider__cite">Ценитель вкусной еды</cite>
            </figcaption>
          </div>
        </div>

      </div>

      <div class="review-slider__inner">
        <div class="review-slider__items">
          <img class="review-slider__photo" src="images/review_photo.png" alt="Фото комментатора" width="300"
            height="300">

          <div class="review-slider__quote">
            <blockquote class="review-slider__blockquote">
              SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
              приложение. Их доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на
              доставку - однозначно рекомендую!
            </blockquote>
            <figcaption class="review-slider__figcaption">
              Eda_moe_vse
              <cite class="review-slider__cite">Ценитель вкусной еды</cite>
            </figcaption>
          </div>
        </div>

      </div>

    </div>

  </div>
</section>