<section class="sales">
  <div class="container">
    <h2 class="title">Акции и скидки</h2>

    <ul class="sales__items">
      <li class="sales__item">
        <img class="sales__img" src="images/sales/1.jpg" alt="Пицца">

        <span class="sales__text">Скидка 50% на вторую пиццу</span>
      </li>

      <li class="sales__item">
        <img class="sales__img" src="images/sales/2.jpg" alt="Картошка-фри">

        <span class="sales__text">Картошечка из KFC даром при заказе бургера</span>
      </li>

      <li class="sales__item">
        <img class="sales__img" src="images/sales/3.jpg" alt="Черный бургер">

        <span class="sales__text">Чёрные бургеры на чёрный день </span>
      </li>
    </ul>
  </div>
</section>